/* contenedor principal */
.principal {
    min-height: 100vh;
    display: flex;
    padding: 0;
}
h1 {
    margin: auto;
    text-align: center;
    padding: 1rem;
    font-size: 2rem;
}

.container-registrar {
    padding: 0%;
    width: 35rem;
    margin: auto;
    margin-bottom: 2rem;
    border: solid;
    border-width: 2px;
    border-radius: 1rem;
    border-color: #1bb2a5;   
}
    form {
        width: 30rem;
        margin: auto;
    }
    .col {
        margin-top: 1rem;
    }
    .form-control, .form-select {
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.66);
    }

/* entrada de datos */
input, label, select {
    width: 13rem;
}
/* contenedor mensaje de error */
.alert {
    font-size: 11px;
    color: red;
    margin: auto;
    margin-left: auto;
    padding: 0;
    margin-left: 11px;
  }

/* boton guardar */
.btn {
    background: #1bb2a5;
    border: 0;
    display: block;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
}